@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.drop-area {
  border: 2px dashed #ccc;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:600&display=swap");



/* 
.multi-button {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
} */

.multi-button button {
  background: white;
  border: 0.125em solid black;
  cursor: pointer;
  font: 600 1.5rem/1.25 "Montserrat", sans-serif;
  letter-spacing: 0.125em;
  margin: 0.5rem;
  padding: 0.5em 0.75em;
  position: relative;
  text-transform: uppercase;
}
.multi-button-2 button {
  background: white;
  border: 0.125em solid black;
  cursor: pointer;
  font: 600 1.5rem/1.25 "Montserrat", sans-serif;
  letter-spacing: 0.125em;
  margin: 0.5rem;
  padding: 0.5em 0.75em;
  position: relative;
  text-transform: uppercase;
}
.multi-button-3 button {
  background: white;
  border: 0.125em solid black;
  cursor: pointer;
  font: 400 1rem/1.25 "Montserrat", sans-serif;
  letter-spacing: 0.125em;
  margin: 0.5rem;
  padding: 0.2rem 0.4rem;
  position: relative;
  text-transform: uppercase;
}

.multi-button-3 button:hover {
  background: black;
  color: white;
}
.paste-box {
  background: white;
  border: 0.125em solid black;
  cursor: pointer;
  padding: 0.5em 0.75em;
  margin: 0.5rem;
  font-family: "Montserrat", sans-serif;
}

.multi-button button:before,
.multi-button button:after {
  content: "";
  position: absolute;
  transition: all 0.125s ease-in-out;
}

.multi-button-2 button:before,
.multi-button-2 button:after {
  content: "";
  position: absolute;
  transition: all 0.125s ease-in-out;
}

.multi-button button.paste:after {
  border: 0.125em dashed black;
  bottom: -0.125em;
  left: -0.125em;
  right: -0.125em;
  top: -0.125em;
}
.multi-button-2 button.paste:after {
  border: 0.125em dashed black;
  bottom: -0.125em;
  left: -0.125em;
  right: -0.125em;
  top: -0.125em;
}

.multi-button  button.paste:hover:after,
.multi-button button.paste:focus:after {
  bottom: 0.125em;
  left: 0.125em;
  right: 0.125em;
  top: 0.125em;
}

.multi-button-2 button.paste:hover:after,
.multi-button-2 button.paste:focus:after {
  bottom: 0.125em;
  left: 0.125em;
  right: 0.125em;
  top: 0.125em;
}
